
  @charset "utf-8";

  /*
  Grand Park LA Style Sheet

  Sections are grouped under headings with a “=” symbol,
  to make searching easier.

  When a style is used more than once, it sometimes has a “@keyword”
  in a comment next to it (to help with search and replace).

  For example…

  16px  @font-size
  24px  @line-height
  32em  @page-max-width
  */


  /* =Colors
  ----------------------------------------------- */
  body {
    background: rgb(252, 254, 252);

    color: rgb(252, 239, 71); /* @yellow */
    color: rgb(235, 12, 128); /* @pink */
    color: rgb(41, 96, 46); /* @darkgreen */
    color: rgb(140, 197, 65); /* @green */
    color: rgb(90, 150, 55); /* @mediumgreen */

    color: rgb(76, 78, 76);
  }
  h2,
  h3,
  h4 {
    color: rgb(90, 150, 55); /* @mediumgreen */
    color: rgb(235, 12, 128); /* @pink */
    color: inherit;
  }

  strong {
    font-weight: inherit;
    color: rgb(235, 12, 128); /* @pink */
  }

  a {
    color: inherit;
    color: rgb(90, 150, 55); /* @mediumgreen */
    transition: color 0.2s;
    text-decoration: none;
  }
  a[href]:hover,
  a[href]:active,
  a[href]:focus {
    color: rgb(235, 12, 128); /* @pink */
    color: rgb(41, 96, 46); /* @darkgreen */
  }
  /*
  h2 a {
    color: inherit;
  }
  */


  /* =Type
  ----------------------------------------------- */
  body {
    font: 100%/1.45 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 1.45em 0;
  }

  /* OPTIONAL: Increase the font size on big screens. */
  @media screen and (min-width: 600px) and (min-height: 600px) {
    html {
      font-size: 112.5%;
    }
  }
  @media screen and (min-width: 800px) and (min-height: 800px) {
    html {
      font-size: 125%;
    }
  }
  @media screen and (min-width: 1000px) and (min-height: 1000px) {
    html {
      font-size: 137.5%;
    }
  }
  @media screen and (min-width: 1200px) and (min-height: 1200px) {
    html {
      font-size: 150%;
    }
  }

  /* SHIM: Siteleaf insists on adding paragraphs inside lists. */
  li p {
    margin: 0;
  }

  /* Limit line lengths, for readability. */
  h2, h3, h4, p, ul, .map, .video, figure {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.725em;
    margin-bottom: 0.725em;
  }


  /* =Links
  ----------------------------------------------- */
  a img {
    border-width: 0; /* For Explorer */
  }
  a.location {
    display: inline-block; /* @avoid-break */
  }


  /* =Headlines
  ----------------------------------------------- */
  h2,
  h3,
  h4 {
    font-weight: normal;
    margin-top: 1.45rem;
    margin-bottom: 0.725rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.75em;
    line-height: 1.2428571429;
    font-size: 1.375em;
    line-height: 1.5818181818;
    padding-top: 1.35rem;
    color: rgb(235, 12, 128); /* @pink */
    /*
    border-top: 0.1rem solid rgba(0, 0, 0, 0.15);
    */
  }
  footer h2 {
    color: inherit;
  }
  h3 {
    /*
    font-size: 1.375em;
    line-height: 1.5818181818;
    */
    font-size: inherit;
  }
  h4 {
    font-size: inherit;
    font-style: italic;
    color: inherit;
  }
  @media (min-width: 50em) {
    h2 {
      margin-top: 2.9rem;
      padding-top: 2.8rem;
    }
    h3 {
      margin-top: 1.45rem;
    }
  }


  /* =Header
  ----------------------------------------------- */
  h1 {
    font-size: inherit;
    background: rgb(89, 4, 59) !important;
    color: white;
    position: relative;
    margin: 0 -1.45em;
    padding-left: 1.45em;
    padding-right: 1.45em;
    padding-top: 1.45em;
    padding-bottom: 1.45em;
    text-align: center;
    position: relative;
  }
  h1 img {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: top;
  }
  h1 svg {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
    height: 70vh;
    margin-bottom: -1.45em;
  }


  /* =Play Button
  ----------------------------------------------- */
  .play {
    display: block;
    position: relative;
    text-decoration: none
  }

  .play .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    background: rgba(0, 0, 0, 0.75);
    padding: 0.625em 1.25em 0.3125em 1.25em;
    border-radius: 0.3125em;
    color: white;
    font-size: 2em;
    transition: background-color 0.2s;
    transform: translate(-50%, -50%)
  }

  .play:hover .icon,
  .play:active .icon,
  .play:focus .icon {
    background-color: black
  }

  .play .icon {
    vertical-align: middle
  }

  .play svg {
    width: 1em;
    height: 1em
  }

  .play svg polygon {
    fill: currentColor
  }




  /* =Footer
  ----------------------------------------------- */
  footer {
    background: white;
    color: rgb(76, 78, 76);
    background: linear-gradient(rgb(252, 254, 252), white 25%, white);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: -1.45em;
    margin-right: -1.45em;
    padding-left: 1.45em;
    padding-right: 1.45em;
  }
  footer h2,
  footer p {
    max-width: none;
    text-align: center;
  }
  footer h2 a {
    display: inline-block; /* SHIM: Avoid wrapping links inside the last header */
  }
  footer p {
    margin: 2.9em auto;
  }
  @media (min-width: 45em) {
    footer p {
      margin-top: 5.8em;
      margin-bottom: 5.8em;
    }
  }
  footer img {
    display: inline;
  }


  /* =Images
  ----------------------------------------------- */
  @media (max-width: 40em) {
    figure,
    .video,
    .map {
      margin-left: -1.45em;
      margin-right: -1.45em;
    }
  }
  figure,
  .map,
  .video {
    margin-top: 1.45em;
    position: relative;
  }
  @media (min-width: 45em) {
    .map,
    figure,
    .video {
      margin-top: 2.9em;
      margin-bottom: 2.9em;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  h1 img {
    display: block;
    width: 100%;
    height: auto;
  }


  /* =Map
  ----------------------------------------------- */
  .map iframe {
    width: 100%;
    height: 500px;
    max-height: 50vh;
  }


  /* =Video
  ----------------------------------------------- */
  .video div {
    position: relative;
  }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  /* =Navigation
  ----------------------------------------------- */
  ul:first-of-type,
  ul:first-of-type li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul:first-of-type {
    margin-left: auto;
    margin-top: 2.175em;
    margin-bottom: 1.45em;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 50em) {
    ul:first-of-type {
      margin-top: 3.625em;
      margin-bottom: 2.175em;
    }
  }
  ul:first-of-type li {
    display: inline-block;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    flex-grow: 1;
  }
  ul:first-of-type a {
    display: block;
    text-align: center;
    padding: 0.725em 1.45em;
    background-color: rgb(90, 150, 55); /* @mediumgreen */
    color: white;
    background-color: rgb(140, 197, 65); /* @green */
    color: rgb(41, 96, 46); /* @darkgreen */
    text-decoration: none;
    border-radius: 0.25em;
    transition: background-color 0.2s, color 0.2s;
    font-weight: bold;
  }
  ul:first-of-type a[href]:hover,
  ul:first-of-type a[href]:active,
  ul:first-of-type a[href]:focus {
    background-color: rgb(235, 12, 128); /* @pink */
    background-color: rgb(90, 150, 55); /* @mediumgreen */
    color: white;
    text-decoration: none;
  }

