<!doctype html>
<html lang="en-us" dir="ltr">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <style>
    {% include style.css %}
  </style>

</head>
<body>

  <h1>
    {% include nyela.svg %}
  </h1>

  {{ content }}
   
  <script>
    {% include analytics.js %}

    if (window.__gaTracker) {
      __gaTracker('create', 'UA-39280926-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('send','pageview');
    }
  </script>

</body>
</html>
