<!doctype html>
<html lang="en-us" dir="ltr">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" />
  <link rel="stylesheet" href="/css/style.css?v=021" />

  <!-- for general use -->
  <link rel="icon" type="image/png"    href="/images/favicon.png" />

  <!-- for iOS -->
  <link rel="apple-touch-icon"         href="/images/favicon-255-255-255.png" />

  <!-- for Windows 8 -->
  <meta name="msapplication-TileImage" content="/images/favicon.png" />
  <meta name="msapplication-TileColor" content="rgb(255, 255, 255)" />

</head>
<body>

  <header>
    <h1>
      <picture>
        <source srcset="/images/nyela-landscape.png 2560w" media="(min-aspect-ratio: 4/3)" />
        <source srcset="/images/nyela-portrait.png 2550w" />
        <img src="/images/nyela-portrait.png" alt="Grand Park and The Music Center. New Year’s Eve, Los Angeles. Countdown to 2019." />
      </picture>
    </h1>
  </header>

  {{ content }}
   
  <script>
    {% include analytics.js %}

    if (window.__gaTracker) {
      __gaTracker('create', 'UA-39280926-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('send','pageview');
    }
  </script>

</body>
</html>
